@{
    ViewBag.Title = "SB";
}

<hr />

@section LibJavascript
{
    <script src="~/Scripts/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
}

<h1 class="text-center">
    SISTEMA BIBLIOTECA
</h1>

<div>
    <div class="row">
        <div class="col-8 text-center">
            <img src="~/Imagens/Livro.jpg" width="500" height="500" class="d-inline-block align-center rounded mx-auto d-block img-thumbnail mt-5" alt="" />
        </div>
    </div>
</div>





